.input{
    outline: none;
    border: 1px black solid;
    border-radius: 10px;
    padding: 12px 8px 12px 8px;
    font-size: 22px;
}
.sign-up__button{
    background-color: #57d38c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px 8px 14px 8px;
    cursor: pointer;
}
.sign-up__button:disabled{
    background-color: darkgray;
    cursor: not-allowed;
}