body{
    margin: 0;
}
@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 1440px;
    width: 100%;
}

