.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.profile-greeting{
    min-width: 90%;
    padding: 10px 15px 10px 15px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
.profile-main{
    width: 90%;
}
.profile-container{
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: flex;
}
.section-btn{
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.profile-btn{
    margin-left: 20px;
    padding: 5px 8px 5px 8px;
}
.profile-btn.active{
    border-radius: 20px;
    background-color: #D9D9D9;
}